<?mybatis version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.mybatis.model.Student" alias="Student"/>
        <typeAlias type="com.mybatis.model.Book" alias="Book"/>
        <typeAlias type="com.mybatis.model.Author" alias="Author"/>
        <typeAlias type="com.mybatis.model.AuthorBook" alias="AuthorBook"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="openejb:Resource/mysqlDataResource"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/StudentMapper.xml"/>
        <mapper resource="mybatis/BookMapper.xml"/>
        <mapper resource="mybatis/AuthorMapper.xml"/>
        <mapper resource="mybatis/AuthorBookMapper.xml"/>
    </mappers>

</configuration>